<%= render 'layouts/header' %>
<div class="row">
  <%= render 'administrators/administratorsleftmenu' %>
  <div class="col s10 offset-s2">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header">
          <h4> <%=t :sended_messages %></h4>
        </li>
        <% @messages.each do |message| %>
        <li class="collection-item">
          <div> <%= link_to message.theme.capitalize , message %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
