<div class="formfactor">
  <h3>Hello, new waiter!</h3>
  <h4>Recrute to us:</h4>
  <%= form_for(@waiter) do |f| %>
    <%= f.text_field :LASTNAME,     :placeholder => "Your name and lastname" %> </br>
    <%= f.select :restaurant_id, restaurant_select, class: "select", :prompt => "Choose jobplace"%>
    <%= f.submit "Save information" %>
  <% end %>
</div>
