<div class="formfactor">
  <h3>Hello, new cashier!</h3>
  <h4>Help us count money:</h4>
  <%= form_for(@cashier) do |f| %>
    <%= f.text_field :lastname,     :placeholder => "Your name and lastname" %> </br>
    <%= f.collection_select :restaurant_id, Restaurant.all, :id, :name, { prompt: "-Select restaurant-" }, class: "browser-default" %>
    <%= f.submit "Save information" %>
  <% end %>
</div>
