<%= render 'layouts/header' %>
<div class="formfactor">
    <h4>Database administrator</h4>
    Personal id: <%= @administrator.id %></br>
    Login: <%= @administrator.login %></br>
      <% if signed_in? %>
      <%= link_to "Sign out", signout_path, method: "delete" %>
    <% else %>
      Not signed in!
    <% end %>

</div>
