// Place all the styles related to the Administrators controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.table {
  display: table;
  margin:auto;
  margin-top: 50px;
  width: 1200px;
}

div.tr {
  display: table-row;
 }

div.td {
  width: 150px;
  height: auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #FFFDE8;
  padding:10px 10px 20px 10px;
  display: table-cell;
}


.panel {
  background-color: #e0e0e0;
}

.button {
  background-color: #3E453E;
}

.card {
  vertical-align: middle;
}

.authorise{

  margin-left: 200%;
    margin-right: 50%;
  width: 200%;
}

.makeorder{

  margin-left: 65%;
    margin-right: 100%;
  width: 50%;
}
