// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customer_background {
  background: url('http://s1.postimg.org/53ujm1bfj/customer.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position:absolute;
}

.valign {
  margin-top: 5%;
}

.textvalign {
    margin-top: 5%;
}

.prefix {
  color: white;
}
