<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <%= link_to newreview_path, class: "btn-floating btn-large feedbtn" do %>
    <i class="large material-icons">mode_edit</i>
   <% end %>
</div>
