<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper cyan darken-4">
      <%= link_to "Restaurant", root_path, class: "brand-logo headtext" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if signed_in? %>
          <li><a><%= current_administrator.login.capitalize %></a></li>
          <li class="active"><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <% else %>
          <li class="active"><%= link_to "Login",  authorise_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
