<div class="slider fullscreen">
  <ul class="slides ">
    <li>
      <%= image_tag "restaurant/slider_1.jpg" %>
      <div class="caption right-align">
        Respect to guests
        <h1 class="light grey-text text-lighten-3">Is our slogan</h1>
      </div>
    </li>
    <li>
      <%= image_tag "restaurant/slider_2.jpg" %>
      <div class="caption left-align">
        Advandced service
        <h1 class="light grey-text text-lighten-3">Is our prerogative</h1>
      </div>
    </li>
    <li>
      <%= image_tag "restaurant/slider_3.jpeg" %>
      <div class="caption center-align">
        Honest
        <h1 class="light grey-text text-lighten-3">In our blood</h1>
      </div>
    </li>
  </ul>
</div>
