<div class="slider fullscreen">
  <ul class="slides ">
    <li class="slider-custom" style="background: url(http://s3.postimg.org/m79r03f43/slider_1.jpg) no-repeat center center fixed; background-size: cover;"></li>
    <li class="slider-custom" style="background: url(http://s9.postimg.org/htfbet31b/slider_2.jpg) no-repeat center center fixed; background-size: cover;"></li>
    <li class="slider-custom" style="background: url(http://s11.postimg.org/otbe08d3n/slider_3.jpg) no-repeat center center fixed; background-size: cover;"></li>
  </ul>
</div>
