<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag "restaurant/rest1.jpg" %>
      <div class="caption right-align">
        <h3>Respect to guests</h3>
        <h5 class="light grey-text text-lighten-3">Is our slogan</h5>
      </div>
    </li>
    <li>
      <%= image_tag "restaurant/rest2.jpg" %>
      <div class="caption left-align">
        <h3>Advandced service</h3>
        <h5 class="light grey-text text-lighten-3">Is our prerogative</h5>
      </div>
    </li>
    <li>
      <%= image_tag "restaurant/rest3.jpg" %>
      <div class="caption center-align">
        <h3>Honest</h3>
        <h5 class="light grey-text text-lighten-3">In our blood</h5>
      </div>
    </li>
  </ul>
</div>
