<!DOCTYPE html>
<html>
<head>
  <title>Coursework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script'   rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
  <% if current_page?('/customers/new')%>
    <body class="customer_background">
  <% else %>
    <body>
  <% end %>

    <%= yield %>
  </body>
</html>
